 <!-- ======= sezione su di noi ======= -->
 <br><br>
 <h1>Chi Siamo</h1>
 <hr>
 <section id="about" class="about">
  <div class="container">

    <div class="row">
      <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left">
        <img src="http://4everstatic.com/immagini/850xX/loghi/nike,-logo,-acqua-173267.jpg" class="img-fluid" alt="">
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right">
        <h3>Azienda eccellente nella vendita di prodotti online e tra le migliori al mondo.</h3>
        <p class="fst-italic">
          Dal 2012 siamo nel settore dell'e-commerce con ottime recensioni da parte dei clienti.Siamo una delle aziende cardine del settore,vincendo tre volte il premio 4Ecom come miglior azienda italiana.
        </p>
        <ul>
          <li><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16">
            <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z"/>
            <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z"/>
          </svg>Sicura ed efficente nelle consegne dei nostri prodotti.</li>
          <li><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16">
            <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z"/>
            <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z"/>
          </svg>Resa e Garanzia per ogni singolo prodotto che noi vendiamo.</li>
          <li><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16">
            <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z"/>
            <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z"/>
          </svg> Pagamento sicuro e vendita di diversi prodotti di ottima qualità nel settore tech.</li>
        </ul>
        <p>
          Con diversi partner disponiamo di diversi prodotti tech che variano dal gaming agli smartphone e dei pc. per ogni prodotto disponimao di diverse opzioni di scelta e personalizzazione(in base al tipo di prodotto che viene scelto).
        </p>
      </div>
    </div>

  </div>
</section>
<br><br>
<!-- ======= sezione perchè sceglierci ======= -->
<section id="why-us" class="why-us">
  <div class="container">

    <div class="row">
      <h2>Perchè Sceglierci</h2>
      <div class="col-lg-4" *ngFor="let item of motivazioni;" data-aos="fade-up">
        <div class="box">
          <span>{{item.span}}</span>
          <h4>{{item.titolo}}</h4>
          <p>{{item.descrizione}}</p>
        </div>
      </div>
    </div>
  </div>
</section>
<br><br>
<!-- ======= Sezione brand ======= -->

<section class="logo-list">
  <h2>Alcuni Brand che noi vendiamo</h2>
  <div class="container">
      <div class="row">
          <div class="col-lg-2 col-md-4 col-6">
              <a href="#"><img src="https://3dwarehouse.sketchup.com/warehouse/v1.0/publiccontent/e0dd3496-cd41-4f66-b540-5dd77e0d7ee7" class="img-fluid" alt="Adidas logo"></a>
          </div>
          <div class="col-lg-2 col-md-4 col-6">
              <a href="#"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/03/Lenovo_Global_Corporate_Logo.png/800px-Lenovo_Global_Corporate_Logo.png" class="img-fluid" alt="Puma logo"></a>
          </div>
          <div class="col-lg-2 col-md-4 col-6">
              <a href="#"><img src="https://cultura.biografieonline.it/wp-content/uploads/2012/07/nike-logo1.jpg" class="img-fluid" id="nike" alt="Nike logo"></a>
          </div>
          <div class="col-lg-2 col-md-4 col-6">
              <a href="#"><img src="https://www.futurasrl.it/wp-content/uploads/2014/10/playstation-logo.png" class="img-fluid" alt="Playstation logo"></a>
          </div>
          <div class="col-lg-2 col-md-4 col-6">
              <a href="#"><img src="https://1000marche.net/wp-content/uploads/2020/03/Xbox-logo.png" class="img-fluid" alt="Xbox logo"></a>
          </div>
          <div class="col-lg-2 col-md-4 col-6">
              <a href="#"><img src="http://www.tradeco.computer/wp-content/uploads/2015/06/asus-rog-logo.png" class="img-fluid" alt="Hostinger logo"></a>
          </div>
      </div>
  </div>
</section>

